<div class="container">
  <div class="row">
    <div class="col">
      <h1>My playlists</h1>
      <div class="row">
        <app-playlist-filter
          (filterSubmit)="filter($event)"
          [filterName]="'Playlist name'"
        ></app-playlist-filter>
      </div>
      <div
        *ngIf="submitted"
        class="row"
      >
        <h2 class="col-12">Lists</h2>
        <ul class="col-12">
          <li
            *ngFor="let playlistItem of filteredPlaylistItems"
          >{{ playlistItem }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>