<div *ngIf="!auth.isLoggedIn">
    Nem vagy belépve!
    </div>
  
  
  <div *ngIf="auth.isLoggedIn">
  
          <h1>{{course.name}}</h1>
 
      <div class="course-data">
          <ul>
              <li>Dátum: {{course.date}}</li>
              <li>Hely: {{course.room.name}}</li>
              <li>Tanár: <a [routerLink]="'../../user/' + course.teacher.id">{{course.teacher.fullname}}</a></li>
          </ul>

          <button mat-raised-button class="mat-primary" (click)="Join()" >Jelentkezés a kurzusra</button>

      </div>
  
  </div>
