<div *ngIf="!auth.isLoggedIn">
    Nem vagy belépve!
    </div>
  
  
  <div *ngIf="auth.isLoggedIn && course">
  
        <h1>{{course.name}}</h1>
        <p>{{course.description}}</p>
        <div class="course-data">
            <ul>
                <li>Dátum: {{course.date}}</li>
                <li>Hely: {{course.room.name}}</li>
                <li>Tanár: <a [routerLink]="'../../user/' + course.teacher.id">{{course.teacher.fullname}}</a></li>
            </ul>
            Jelentkezettek száma: {{course.studentNumber}}
            <p>
                <button [disabled]="alreadyJoined" mat-raised-button class="mat-primary" (click)="Join()" >Jelentkezés a kurzusra</button>
            </p>
        </div>
  
  </div>
