<mat-toolbar id="top-menu" color="primary">
  <div class="left-side">
    <h1>Pluto</h1>
  </div>

  <div class="center">
    <a mat-button *ngFor="let menu of menus" [routerLink]="menu.link" routerLinkActive="active">{{menu.title}}</a>
  </div>

  <div class="right-side">
    <div *ngIf="!authService.isLoggedIn" class="unauthorized">
      <a mat-button routerLink="/login" routerLinkActive="active">Belépés</a>/
      <a mat-button routerLink="/register"
         routerLinkActive="active">Regisztráció</a>
    </div>

    <div *ngIf="authService.isLoggedIn" class="authorized">
      <button mat-button disabled="true" style="color: black">Hello, {{authService.user.username}}</button>
      <button mat-button (click)="logout()">Kilépés</button>
    </div>
  </div>
</mat-toolbar>