<div class="container">
  <div class="row">
    <div class="col">
      <h1>Add song</h1>
      <form class="row">
        <mat-form-field class="col">
          <input matInput placeholder="Title">
        </mat-form-field>
        <mat-form-field class="col">
          <input matInput placeholder="Author">
        </mat-form-field>
        <mat-form-field class="col">
          <input
            type="number"
            matInput
            placeholder="Length"
          >
        </mat-form-field>
        <mat-form-field class="col">
          <input matInput placeholder="Genre">
        </mat-form-field>
        <button mat-button>Save</button>
      </form>
    </div>
  </div>
</div>