<div class="page-body" id="login-page">
  <h1>Bejelentkezés</h1>
  <form [formGroup]="loginForm" novalidate>
    <div class="form-control">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Felhasználónév" formControlName="username">
        
      </mat-form-field>
    </div>

    <div class="form-control">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Jelszó" formControlName="password" type="password">
        
      </mat-form-field>
    </div>
    <button mat-raised-button class="mat-primary" (click)="submit()" [disabled]="!loginForm.valid">Bejelentkezés</button>
    <a mat-button class="mat-accent" routerLink="/register">Regisztráció</a>
  </form>
</div>
