<div class="page-body" id="register-page">
  <h2 class="mat-h2">Regisztráció</h2>
  <form [formGroup]="registerForm" novalidate>
    <div class="form-control">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Felhasználónév" formControlName="username">
       
      </mat-form-field>
    </div>
    <div class="form-control">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Teljes név" formControlName="fullname">
          
        </mat-form-field>
    </div>
    <div class="form-control">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Jelszó" formControlName="password" type="password">
       
      </mat-form-field>
    </div>

    <div class="form-control">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" formControlName="email">
        
      </mat-form-field>
    </div>

    <button mat-raised-button class="mat-primary" (click)="submit()" [disabled]="!registerForm.valid">Regisztráció</button>
    <a mat-button class="mat-accent" routerLink="/login">Belépés</a>
  </form>
</div>
